@tailwind base;
@tailwind components;
@tailwind utilities;

/* خودت می‌تونی اینجا استایل اضافی بزاری */
body { direction: rtl; font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
